.card {
    margin-bottom: 30px;
    margin-left: 20px;
}

img {
    height: 250px;
    background: cover;
}

.card-footer {
    padding: 0;
}

.row {
    width: 100%;
}

.discount-text {
    color: green;
    font-weight: 800;
}
