<nav class="navbar navbar-expand-md navbar-light bg-primary fixed-top">
    <a class="navbar-brand" routerLink="/"><i class="fas fa-leaf"></i>Shop</a>

    <form class="search-form">
        <mat-form-field class="search-full-width">
            <mat-label>Search</mat-label>
            <input matInput name="searchInp" [(ngModel)]="searchValue" (input)="onSearchChange($event.target.value)">
            <i id="search" class="fa fa-search" aria-hidden="true"></i>
        </mat-form-field>
    </form>

    <a class="nav-link">
        <i class="fa fa-shopping-cart fa-2x"></i>
        <span class="badge badge-warning badge-pill">
            {{getQuantity()}}
        </span>
    </a>
</nav>