.search-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .badge {
    position: absolute;
    top:.5rem;
    right:1.5rem;
    text-align: center;
}

  @media screen and (max-width: 750px) {
    .search-form {
      width: 50%;
      margin: 0 auto;
      padding: 0;
    }
  }

  @media screen and (max-width: 500px) {
    .search-form {
      width: 150px;
      margin: 0 auto;
      padding: 0;
    }
  }
  
  .search-full-width {
    width: 100%;
  }

  a {
      color: white;
  }

  .navbar-brand {
    color: white;
  }

  mat-form-field {
      color: white;
  }

  .navbar {
      padding: 0 1rem;
  }

  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
   }

   ::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: white !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: white !important;;
  }

  #search {
    position: absolute;
    right: 5px;
  }