.card {
    margin-bottom: 30px;
    margin-left: 20px;
    text-align: center;
}

img {
    height: 250px;
    background: cover;
}

.card-footer {
    padding: 0;
}

.row {
    width: 100%;
}

.discount-text {
    color: green;
    font-weight: 800;
    float: right;
}

.old-price-text {
    text-decoration: line-through;
    color: grey;
    text-align: center;
}

.left-text {
    float: left;
}